<component name="libraryTable">
  <library name="spring-integration-2.0.5" type="spring-integration">
    <properties version="2.0.5" />
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-core.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-event.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-feed.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-file.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-ftp.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-groovy.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-http.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-httpinvoker.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-ip.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-jdbc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-jms.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-jmx.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-mail.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-rmi.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-security.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-sftp.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-stream.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-test.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-twitter.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-ws.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-xml.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-xmpp.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>